{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title> school gallary</title>
  </head>
  <body>
    {% include 'head.html' %}
    {% include 'menu.html' %}
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
     <div class="card bg-dark text-white">
 <img src="{% static 'function/School-Function.jpg'  %}" width="100%" height="700">
  <div class="card-img-overlay">
      <br><br><<br><br>
    <h1 align="center" class="card-title" style="color:black;font-size: 100px">SHREE BASAVESHWAR GURUKUL  SCHOOL KHANDAL</h1>
      <br><br><br><br><<br><br><br>
      <h1 align="center"style="font-size:100px;color: orange" > annuval school function</h1>
       <div align="right">
    <p class="card-text" style="color: black"><img src="{% static 'images/phone-call.png' %}" width="30" height="30">contact no :9972704095</p>
    <p class="card-text" style="color: yellow"><img src="{% static 'images/contact.png' %}" width="30" height="30"> teliphone no :08481-256334</p>
      <p style="color: tomato"><img src="{% static 'images/email.png' %}" width="30" height="30">Email :  basaveshwargurukul@mail.com</p>
  </div>
  </div>
</div>
    </div>
    <div class="carousel-item">
     <div class="card bg-dark text-white">
  <img src="{% static 'sports/istockphoto-842480064-612x612.jpg' %}" width="100%" height="700">
  <div class="card-img-overlay">
    <h1 align="center" class="card-title" style="font-size: 100px;color: #f6ff70"> SHREE BASAVESHWAR GURUKUL  SCHOOL KHANDAL</h1>
      <br><br><br><br>
      <h1 align="center" style="font-size: 100px;color: tomato"> school sports</h1>
      <br><br><br>
      <div align="right">
    <p class="card-text" style="color: black"><img src="{% static 'images/phone-call.png' %}" width="30" height="30">contact no :9972704095</p>
    <p class="card-text" style="color: yellow"><img src="{% static 'images/contact.png' %}" width="30" height="30"> teliphone no :08481-256334</p>
      <p style="color: tomato"><img src="{% static 'images/email.png' %}" width="30" height="30">Email : basaveshwargurukul@mail.com</p>
  </div>
      </div>
</div>
    </div>
    <div class="carousel-item">
    <div class="card bg-dark text-white">
  <img src="{% static 'workshop/stock-photo-education-children-technology-science-and-people-concept-group-of-happy-kids-building-robots-559829731.jpg' %}" width="100%" height="700">
  <div class="card-img-overlay">
    <h1 align="center" class="card-title" style="font-size: 100px;color:skyblue"> SHREE BASAVESHWAR GURUKUL</h1>
      <br><br><br><br>
      <h1 align="center" style="font-size: 100px;color: chocolate"> school workshop</h1>
      <br><br><br>
      <div align="right">
    <p class="card-text" style="color: black"><img src="{% static 'images/phone-call.png' %}" width="30" height="30">contact no :9972704095</p>
    <p class="card-text" style="color: yellow"><img src="{% static 'images/contact.png' %}" width="30" height="30"> teliphone no :08481-256334</p>
      <p style="color: tomato"><img src="{% static 'images/email.png' %}" width="30" height="30">Email :  basaveshwargurukul@gmail.com</p>
  </div>
      </div>
</div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    <div class="accordion" id="accordionExample">
  <div class="card">
    <div align="center" class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           school function photos
        </button>
          <button class="btn btn-danger collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         sports photos
        </button>
          <button class="btn btn-success collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          school workshop photos
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div align="center" id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
      <h1 align="center" style="color: #ff730b;font-size: 100px"> school functions photos</h1>
    <div  class="carousel-item active">
      <img src="{% static 'function/100_4055.jpg'%}" width="800" height="300">
    </div>
    <div class="carousel-item">
      <img src="{% static 'function/20171121_225043.jpg' %}" width="800" height="300" >
    </div>
    <div class="carousel-item">
      <img src="{% static 'function/36787308-activities-at-a-school-function-at-littera-valley-school-shot-at-evening-hours-on-14-02-15-at-patna-.jpg' %}"width="800" height="300" >
    </div>
      <div class="carousel-item">
      <img src="{% static 'function/36787310-activities-at-a-school-function-at-littera-valley-school-shot-at-evening-hours-on-14-02-15-at-patna-.jpg' %}" width="800" height="300" >
    </div>
      <div class="carousel-item">
      <img src="{% static 'function/36787314-activities-at-a-school-function-at-littera-valley-school-shot-at-evening-hours-on-14-02-15-at-patna-.jpg' %}" width="800" height="300" >
    </div>
      <div class="carousel-item">
      <img src="{% static 'function/36787315-activities-at-a-school-function-at-littera-valley-school-shot-at-evening-hours-on-14-02-15-at-patna-.jpg' %}" width="800" height="300" >
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      </div>
        <img src="{% static 'function/100_4055.jpg' %}" width="300" height="200">
        <img src="{% static 'function/20171121_225043.jpg' %}" width="300" height="200">
        <img src="{% static 'function/36787308-activities-at-a-school-function-at-littera-valley-school-shot-at-evening-hours-on-14-02-15-at-patna-.jpg' %}" width="300" height="200">
        <img src="{% static 'function/36787310-activities-at-a-school-function-at-littera-valley-school-shot-at-evening-hours-on-14-02-15-at-patna-.jpg' %}" width="300" height="200">
        <img src="{% static 'function/36787315-activities-at-a-school-function-at-littera-valley-school-shot-at-evening-hours-on-14-02-15-at-patna-.jpg' %}" width="300" height="200">
        <img src="{% static 'function/36787319-activities-at-a-school-function-at-littera-valley-school-shot-at-evening-hours-on-14-02-15-at-patna-.jpg' %}" width="300" height="200">
        <img src="{% static 'function/36787346-activities-at-a-school-function-at-littera-valley-school-shot-at-evening-hours-on-14-02-15-at-patna-.jpg' %}" width="300" height="200">
        <img src="{% static 'function/kharian-Annual-Function-6.jpg' %}" width="300" height="200">
        <img src="{% static 'function/maxresdefault.jpg' %}" width="300" height="200">
        <img src="{% static 'function/36787337-activities-at-a-school-function-at-littera-valley-school-shot-at-evening-hours-on-14-02-15-at-patna-.jpg' %}" width="300" height="200">
        <img src="{% static 'function/School-Function.jpg' %}" width="300" height="200">
        <img src="{% static 'function/welcome-dance.jpg' %}" width="300" height="200">
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">

      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
          <h1 align="center" style="font-size: 100px;color:#38ff8d"> school sports photos</h1>
         <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div align="center" class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'sports/49f5684c55c9f6fdcf8abb88f379ee6f.jpg'%}" width="500" height="300">
    </div>
    <div class="carousel-item">
      <img src="{% static 'sports/10.jpg' %}" width="500" height="300" >
    </div>
    <div class="carousel-item">
      <img src="{% static 'sports/istockphoto-842480064-612x612.jpg' %}"width="500" height="300" >
    </div>
      <div class="carousel-item">
      <img src="{% static 'sports/634046-sports-ground.jpg' %}" width="500" height="300" >
    </div>
      <div class="carousel-item">
      <img src="{% static 'sports/extra-curricular-1495529876-1.jpg' %}" width="500" height="300" >
    </div>
      <div class="carousel-item">
      <img src="{% static 'sports/Sports1.jpg' %}" width="500" height="300" >
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      </div>
        <img src="{% static 'sports/4.jpg' %}" width="300" height="200">
        <img src="{% static 'sports/10.jpg' %}" width="300" height="200">
        <img src="{% static 'sports/49f5684c55c9f6fdcf8abb88f379ee6f.jpg' %}" width="300" height="200">
        <img src="{% static 'sports/634046-sports-ground.jpg' %}" width="300" height="200">
        <img src="{% static 'sports/istockphoto-842480064-612x612.jpg' %}" width="300" height="200">
        <img src="{% static 'sports/SportsDay-Blore-17-FI.jpg' %}" width="300" height="200">
        <img src="{% static 'sports/Sports1.jpg' %}" width="300" height="200">
        <img src="{% static 'sports/extra-curricular-1495529876-1.jpg' %}" width="300" height="200">
        <img src="{% static 'sports/IMG_0636-1.jpg' %}" width="300" height="200">
        <img src="{% static 'sports/IMG_6635.jpg' %}" width="300" height="200">
        <img src="{% static 'sports/Picture-531.jpg' %}" width="300" height="200">
         <img src="{% static 'sports/sport-day17-0002-1024x681.jpg' %}" width="300" height="200">
        <img src="{% static 'sports/29.06.2017-and-sports-day-2017-160.jpg' %}" width="300" height="200">
         <img src="{% static 'sports/sports-day-2016-82.jpg' %}" width="300" height="200">
    </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">

      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
          <h1 align="center" style="font-size: 100px;color: #a95625"> school workshop photos </h1>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div  align="center" class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'workshop/stock-photo-education-children-technology-science-and-people-concept-group-of-happy-kids-building-robots-559829731.jpg'%}" width="500" height="300">
    </div>
    <div class="carousel-item">
      <img src="{% static 'workshop/stock-photo-education-children-technology-science-and-people-concept-group-of-happy-kids-with-d-printer-554621923.jpg' %}" width="500" height="300" >
    </div>
    <div class="carousel-item">
      <img src="{% static 'workshop/stock-photo-education-children-technology-science-and-people-concept-group-of-happy-kids-with-laptop-573828889.jpg' %}"width="500" height="300" >
    </div>
      <div class="carousel-item">
      <img src="{% static 'workshop/stock-photo-gadjievo-russia-march-the-boy-works-on-a-lathe-in-a-school-workshop-765824155.jpg' %}" width="500" height="300" >
    </div>
      <div class="carousel-item">
      <img src="{% static 'workshop/stock-photo-girl-checking-circuit-board-with-multimeter-on-the-wooden-table-at-home-and-building-a-robot-as-a-1013238133.jpg' %}" width="500" height="300" >
    </div>
      <div class="carousel-item">
      <img src="{% static 'workshop/stock-photo-teacher-with-kids-creative-arts-class-578570044.jpg' %}" width="500" height="300" >
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
           <img src="{% static 'workshop/stock-photo-teacher-with-kids-creative-arts-class-578570044.jpg' %}" width="300" height="200">
        <img src="{% static 'workshop/stock-photo-girl-checking-circuit-board-with-multimeter-on-the-wooden-table-at-home-and-building-a-robot-as-a-1013238133.jpg' %}" width="300" height="200">
        <img src="{% static 'workshop/stock-photo-gadjievo-russia-march-the-boy-works-on-a-lathe-in-a-school-workshop-765824155.jpg' %}" width="300" height="200">
        <img src="{% static 'workshop/stock-photo-education-children-technology-science-and-people-concept-group-of-happy-kids-with-laptop-573828889.jpg' %}" width="300" height="200">
        <img src="{% static 'workshop/stock-photo-group-of-kids-putting-a-kit-together-boys-and-girl-having-fun-in-the-workshop-after-school-1108861301.jpg' %}" width="300" height="200">
        <img src="{% static 'workshop/stock-photo-russia-krasnodar-june-little-girls-painting-ceramic-funny-gnome-sculptures-workshop-for-1431009449.jpg' %}" width="300" height="200">
        <img src="{% static 'workshop/stock-photo-teacher-with-student-in-metallurgy-workshop-288246359.jpg' %}" width="300" height="200">
        <img src="{% static 'workshop/stock-vector-the-word-workshop-vector-banner-with-the-text-colored-rainbow-345659471.jpg' %}" width="300" height="200">
        <img src="{% static 'workshop/stock-photo-helpful-tool-upbeat-teenage-boy-looking-at-a-chemical-flask-through-a-magnifying-glass-while-1059655772.jpg' %}" width="300" height="200">
        <img src="{% static 'workshop/stock-photo-teacher-with-kids-creative-arts-class-578570044.jpg' %}" width="300" height="200">
        <img src="{% static 'workshop/stock-vector-workshop-retro-logo-with-wrench-screwdriver-and-heraldic-ribbon-black-background-color-and-1049661476.jpg' %}" width="300" height="200">
         <img src="{% static 'workshop/stock-photo-mexico-city-mexico-july-th-two-students-working-on-a-electronic-project-at-tech-school-702578356.jpg' %}" width="300" height="200">
        <img src="{% static 'workshop/stock-photo-education-children-technology-science-and-people-concept-group-of-happy-kids-building-robots-559829731.jpg' %}" width="300" height="200">

      </div>
      </div>
    </div>
  </div>
</div>
     


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384 q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>