{% load staticfiles %}

<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>students list</title>
  </head>

  <body>
  {% include 'facultyhead.html' %}
  {% include 'facultmenu.html' %}
 <div class="card bg-dark text-white">
  <img src="{% static 'images/listbg.jpg' %}" class="card-img" width="100%" height="600">
  <div class="card-img-overlay">
    <table border="2" align="center" cellpadding="5" cellspacing="5">
<tr style="background:white">
   <th rowspan="2">Name</th>
   <th rowspan="2">Register no</th>
   <th rowspan="2">Gender</th>
     <th rowspan="2">Date Of Birth</th>
    <th rowspan="2">Date Of Join</th>
    <th rowspan="2">Standards</th>
    <th rowspan="2">Address</th>
   <th colspan="13" style="text-align: center">subjects</th>
    <tr style="background:white">

        <th>kannad</th>
        <th>english</th>
        <th>hindi</th>
        <th>science </th>
        <th>mathematics</th>
        <th>social science</th>
    </tr>


</tr>


   {% for x in data %}
       {% if x.standards == sa %}
           <tr>
         <th bgcolor="orange">  {{ x.name }}</th>
          <th bgcolor="orange"> {{ x.Regno }}</th>
          <th bgcolor="orange"> {{ x.gender }}</th>

           <th bgcolor="orange"> {{ x.dob }}</th>
           <th bgcolor="orange"> {{ x.doj }}</th>
           <th bgcolor="orange"> {{ x.standards }}</th>
                <th bgcolor="orange"> {{ x.address }}</th>
           <th bgcolor="orange"> {{ x.kannad }}</th>
           <th bgcolor="orange"> {{ x.english }}</th>
           <th bgcolor="orange"> {{ x.hindi }}</th>
           <th bgcolor="orange"> {{ x.science }}</th>
           <th bgcolor="orange"> {{ x.mathematics }}</th>
           <th bgcolor="orange">{{ x.social_science }}</th>
           </tr>
       {% endif %}
{% endfor %}

</table>

  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>