{% load static %}
<!doctype html>
<html lang="en">
  <head>
       <script src="{% static 'js/simple.js' %}" type="text/javascript"></script>
          <link href="{% static 'css/image.css'  %}" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>add srudents page</title>
  </head>
  <body>
  {% include 'adminhead.html' %}
  {% include 'adminmenu.html' %}
   <div class="card bg-dark text-white">
  <img src="{% static 'images/addstd.jpg' %}" class="card-img" width="100%" height="1200">
  <div class="card-img-overlay">
   <table border="4" align="center">
   <tr>
       <th colspan="2" style="background: black;text-align: center; color: white">STUDENT REGISTRATION PAGE

       </th>
   </tr>
       <tr>
           <th width="300">
               <img src="{% static 'images/girl.jpg' %}" width="500" height="900">
           </th>
           <th>
               <table align="center" cellpadding="10" border="2">
                      {% if error %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong style="color: #ff730b">ERROR!</strong>{{ error }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
          {% endif %}

    <form action="{% url 'save' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <table border="2"  align="center" cellpadding="10" style="background: black" >
          <tr>
                       <th BGCOLOR="green" colspan="2" style="text-align: center;">STUDENTS REGISTRATION PAGE</th>
                   </tr>
        <tr>
            <th style="text-align: center">Name:</th><th ><input type="text" placeholder="name" required name="name"></th>
        </tr>
        <tr>
            <th style="text-align: center">Father Name:</th><th><input type="text" placeholder="father name" required name="father"></th>
        </tr>
        <tr><th style="text-align: center">Register no:</th><th><input type="number" required placeholder="Regno" name="regno"></th></tr>
        <tr>
            <th style="text-align: center">
                Gender:</th><th><input type="radio" name="ra" value="male">Male
                <input type="radio" name="ra" value="female">Female
            </th>
        </tr>
        <tr>
            <th style="text-align: center">Address :</th><th><textarea placeholder="address" required name="add"></textarea> </th>
        </tr>
        <tr>
            <th style="text-align: center">standard:</th><th><input type="number" placeholder=" standard" required name="std"></th>
        </tr>
        <tr>
            <th style="text-align: center">Dob:</th><th><input type="date" required placeholder="date" name="dob"></th>
        </tr>
        <tr>
            <th style="text-align: center">Date of join:</th><th><input type="date" placeholder="date of join" required name="doj"></th>
        </tr>
        <tr>
            <th style="text-align: center">photo:</th><th><input type="file" required placeholder="photo" name="photo"></th>
        </tr>
        <tr>
            <th style="text-align: center">english:</th><th><input type="text" placeholder="english" required name="e1" id="e"></th>
        </tr>
        <tr>
            <th style="text-align: center">kannad:</th><th><input type="text" placeholder="kannad" required name="k1" id="k"></th>
        </tr>
        <tr>
            <th style="text-align: center">hindi:</th><th><input type="text" placeholder="hindi" required name="h1" id="h"></th>
        </tr>
        <tr>
            <th style="text-align: center">science:</th><th><input type="text" placeholder="science" required name="s1" id="s"></th>
        </tr>
        <tr>
            <th style="text-align: center">social science:</th><th><input type="text" placeholder="social science" required name="ss1" id="ss"></th>
        </tr>
        <tr>
            <th style="text-align: center">mathematics:</th><th><input type="text" placeholder="mathematics" required name="m1" id="m"></th>
        </tr>
        <tr>
            <th style="text-align: center">total marks:</th><th><span id="t"></span>
                <input type="text" placeholder="total marks" required name="t1">
                <input type="button" onclick="f1()" value="total"></th>

        </tr>
        <tr>
            <th style="text-align: center">percentage:</th><th><span id="p"></span>
                <input type="text" placeholder="percentage" required name="p1">
            <input type="button" onclick="f2()" value="percentage"></th>
        </tr>
        <tr>
            <td align="center" colspan="2">
                <button type="submit">save</button>
            </td>
        </tr>
    </table>
        {% if message %}
           <h2>{{ message }}</h2>
        {% endif %}
        </form>
                   </tr>
                   </form>
               </table>
           </th>
       </tr>
   </table>
  </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>